div, h1, h2, h3 {
    font-family: Bahnschrift;
    font-stretch: condensed;    
   }

p {
    font-size: 20px;
  }

div.CodeMirror-code {
    font-family: monospace;
    font-size: 14px;
  }

span.caption-text {
    font-size: 18px;
  }

li {
    font-size: 16px;
   }