div, h1, h2, h3 {
    font-family: 'BAHNSCHRIFT';
    src:url('../fonts/Bahnschrift-Font-Family/BAHNSCHRIFT.TTF');
    font-stretch: condensed;    
   }

div.CodeMirror-code {
    font-family: monospace;
    font-size: 14px;
  }

p {
    font-size: 20px;
  }

span.caption-text {
    font-size: 18px;
  }

li {
    font-size: 16px;
   }

/* hochgestellte Fussnoten zeilen werden auf die richtige Höhe gesetzt*/   
a.footnote-reference {
  vertical-align: baseline;
}

/* Startbild linksbündig */
div.figure.align-left {
  margin-left: 0px;
  padding-left: 0px;
}

/* Schriftgröße Glossar */
dl.glossary {
  font-size: 20px;
}

/* Schrift von Code-Elementen im Text auf #E66D0D (Orange-Ton) setzen */
code.docutils.literal.notranslate {
  color: #E66D0D
}

/* Vorheriger Farbcode für den Mint-Ton: #B0C86F (zusätzlich vermerkte Alternative: #94C172)*/

/* Schrift mit Farbe blau auf Farbe #9CB262 (Mint-Ton)  setzen  => rechte Navigationsbar*/
a.reference.internal.nav-link:hover, a.reference.internal.nav-link.active {
  color: #9CB262
}

/* Schrift mit Farbe blau auf Farbe #9CB262 (Mint-Ton)  setzen  => Haupttextbereich*/
main.bd-content #main-content a,
main.bd-content #main-content a:visited,
main.bd-content #print-main-content a,
main.bd-content #print-main-content a:visited {
 color:#9CB262
}

/* Schrift mit Farbe blau auf Farbe #9CB262 (Mint-Ton)  setzen  => Links im Footer*/
a, a:hover {
  color: #9CB262
}

/* Schrift mit Farbe blau auf Farbe #9CB262 (Mint-Ton)  setzen  => linke Navigationsbar*/
#site-navigation nav ul.nav a:hover,
#site-navigation nav ul.nav li.active>a,
#site-navigation nav ul.nav li.active>a:hover {
 color:#9CB262
}

/* Schrift mit Farbe blau auf Farbe #9CB262 (Mint-Ton)  setzen  => vor-zurück-Navigation im unteren Bereich*/
.prev-next-area a p.prev-next-title {
  color: #9CB262;
  font-weight: 600;
  font-size: 1.1em;
}