div, h1, h2, h3 {
    font-family: 'Bahnschrift';
    src:url('../fonts/Bahnschrift-Font-Family/BAHNSCHRIFT.TTF');
    font-stretch: condensed;    
   }

div.CodeMirror-code {
    font-family: monospace;
    font-size: 14px;
  }

p {
    font-size: 20px;
  }

span.caption-text {
    font-size: 18px;
  }

li {
    font-size: 16px;
   }